@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
    color: #444444;
    
}
a{
    text-decoration: none;
}
/* ::-webkit-scrollbar {
    width: 10px;
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray; 
    border-radius: 0px; */
  
   
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #0e8ce4; 
    border-radius: 0px;
  } */
  
  /* Handle on hover */
 
  

/* Header  */
header .header-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    width: 100%;
    z-index: 1000 ;
}

.form-container {
    display: none;
}
.search{
    height: 45px;
}
.btn-search {
   color: #0d6efd;
   border-color: #0d6efd;
   color: #0d6efd;
   border-color: #0d6efd;
   width: 50px;
   height: 45px
}

.btn-search:hover {
    color:white;
    border-color: #0d6efd;
    background-color: #0d6efd;
 }
.form-container form {
    display: flex;
}

.form-container form #search{
    height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid #666;
    font-size: 15px;
    padding: 0 7px;
}

.form-container form #search1{
    height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid #666;
    font-size: 15px;
    padding: 0 7px;
    
}

.form-container form #search:focus{
    border-color: #0e8ce4;
}

.form-container form #search1:focus{
    border-color: #0e8ce4;
}

.form-container form label{
    width: 50px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    padding: 0 17px;
    background-color: rgb(13, 202, 240);
    color: #fff;
}
.form-container form label:hover{
    color: #000;
}

/* user */
.btn-user{
    padding: 13px 4px;
}
.setting-user{
    position: absolute;
    top: calc(100% + 0px);
    right: 0px;
    background-color: #ffffff;
    width: 180px;
    border-radius: 3px;
    box-shadow: 0 2px 10px #ccc;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    height: 76px;
    z-index: 2;
    display: none;
}
.btn-user:hover .setting-user{
    display: block;
}
.setting-user-list-item{
    list-style: none;
    padding: 0;
}

.setting-user-item-link{
    padding: 0 17px;
    display: block;
    width: 100%;
}
.setting-user-item-link:hover{
    background: rgb(239, 232, 232);
}
/*  */
.main{
   
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Header */

.navbar{
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}

.navbar-brand img{
    width: 105px;
}

.navbar-brand span{
    letter-spacing: 2px;
   
}

.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.link-id:hover{
    color: red !important;
}
@media (min-width:992px) {
        .nav-item{
            border-bottom: none;
        }
}

/* Slogan -main */

.slogan-main{
    width: 50%;
    margin: auto;
    position: relative;
}

.slogan-main::after{
    content: "";
    background-color: #0e8ce4;
    width: 70%;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slogan-sub{
    width: 50%;
    margin: auto;
}

.slide-img{
    width: 70%;
    margin: auto;
}

/* Slider main */
.main-slider{
    width: 100%;
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
}

.fill-height{
    height: 100%;
}

.main-slider-content{
    width: 60%;
    margin-top: 200px;
}

.main-slider-content h1{
    font-weight: 500;
    margin-bottom: 29px;
    
    
    
}

.main-slider-content h4{
    font-weight: 400;
    line-height: 1;    
}



.red-button a{
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}

.red-button:hover{

}
/* Featured */
.fade-in{
    opacity: 0;
    transition: opacity 400ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.feature{
    /* background-color: #0dcaf0; */
    /* background-image: url(/assets/img/backgroud-feature.jpg); */
    width: 90%;
    margin: auto;
    margin-top: 400px !important;
}
.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: #000;
}

.heading span {
    background: #0e8ce4;
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0,93% 50%,100% 99%, 0% 100%, 7% 50%,0% 0%);
}
.img-feature-item{
    height:150px;
    width:100%;
  }
  
  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .card{
    transition:0.5s;
    cursor: pointer;
    border: 1px solid #2dc9e9 !important;
  }
    
    .card-title {
        font-size: 18px;
        transition: 1s;
        font-weight: 500 !important;
        cursor: pointer;
    
  }
  .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:80px;  
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }



.search-on-mobile{
    display: none;
}
  /* Cart */
.cart{
    cursor: pointer;
}

/* Video */
video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    /* width: auto; */
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;

}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;

}
.carousel-inner:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index:  1;
}

/* product */



/* Search  */
.form-container{
    position: absolute;
    right: 2px;
    top: 65px;
    width: 350px;
    opacity: 1;

}

/* Cart - Gio hang */
/* .cart{
    padding: 20px 0;
} */
/* Search  */


.cart:hover .header__cart-list{
    display: block;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 0px);
    right: 9px;
    background-color: #ffffff;
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 2px 10px #ccc;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 2;
}



.header__cart-list--no-cart{
    padding: 28px 0;    
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
}

.header__cart-list-no-cart-msg{
    
    font-size: 1.4rem;
    margin-top: 14px;
    margin-left: 145px;
    display: none;
    
}

.header__cart-no-cart-img{
    width: 50%;
    margin-left: 105px;
    display: none;  
}

/*  Header cart when has cart  */
.header__cart-notice{
   position: absolute;
   background-color: #fff;
   color: #EE4D2D;
   font-size: 1.6rem;
   padding: 1px 7px;
   border-radius: 47%;
   line-height: 1.4rem;
   border: 2px solid #ee4d2d;
   right: -7px;
   top: 1px;
}

/* End */

/*  Header cart when has cart  */
.header__cart-heading{
    text-align: left;
    margin-top: 8px;
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 100px;
    opacity: 0.6;
    font-size: 1.2rem;
    font-weight: 400;
}
.header__cart-list-item{
     padding-left: 0;
     list-style: none;
     max-height: 56vh;
     overflow-y: auto;
}
.header__cart-item{
    display: flex;
    align-items: center;
    
}
.header__cart-item:hover{
    background-color:#f8f8f8;
}
.header__cart-item-info{
    width: 100%;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-right: 12px;
}
.header__cart-item-name{
    font-size: 1.2rem;
    line-height: 2rem;
    height: 3rem;
    overflow: hidden;
    font-weight: 500;
    margin: 0;
}
.header__cart-item-price{
    font-size: 1rem;
    font-weight: 400;
    color: #EE4D2D;
}
.header__cart-item-multiply{
    opacity: 0.5;
    margin: 0 4px;

}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
}
.header__cart-img{
    width: 100px;
    height: 90px;
    margin: 12px;
    border: 1px solid rgb(232, 232, 232);
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.3rem;
    font-weight: 400;
}
.header__cart-item-remove{
   
   font-weight: 500;
   font-size: 1.1rem;
   cursor: pointer;
    
}
.header__cart-item-remove:hover{
    color: #EE4D2D;
}
.header__cart-view-cart{
   float: right;
   margin: 0 12px 12px 0;
}

.header__cart-view-cart{
    background-color: #f05d41;
}
.header__cart-item-price-wrap{
    margin-top: 30px;
}

/* Khach Hang nghi gi ve chung toi */
#testimonial_area {
	padding: 10px 0;
}
.box-area {
	padding: 30px;
	position: relative;
	display: block;
	background: #fff;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 40px 0;
}
.box-area h5 {
	font-size: 16px;
	font-weight: 700;
	color: #0a69ed;
	margin-top: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.box-area span {
	color: #262626;
	display: block;
	font-size: 13px;
	margin: 0 0 10px;
	font-weight: 400;
}
.box-area .content {
	color: #262626;
}
.box-area .img-area {
	width: 90px;
	height: 90px;
	position: absolute;
	top: -40px;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	z-index: 1;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.box-area .img-area img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.socials {
	margin-top: 30px;
}
.socials i {
	margin: 0 10px;
	color: #0a69ed;
	font-size: 18px;
}
#testimonial_area .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
#testimonial_area .owl-prev, #testimonial_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #0a69ed;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	position: absolute;
}
#testimonial_area .owl-prev {
	left: -60px;
	top: -30px;
}
#testimonial_area .owl-next {
	right: -60px;
	top: -30px;
}
@media only screen and (max-width: 991px) {
	.owl-nav {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.box-area {
		text-align: center;
	}
	.owl-nav {
		display: none;
	}
}
/* new product */
.navbar-nav .nav-link {
    color: #000 !important;
    padding: 0.5rem 0rem !important;
    border-color: transparent;
    margin-left: 1.5rem;
    transition: none;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-link.active,
.border-red {
    border-bottom: 3px solid #b71c1c;
}

.navbar-nav .nav-link:hover {
    border-bottom: 3px solid #b71c1c;
}

.container .product-item {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0;
}

.container .product-item .product {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.container .product-item .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .product-item .product .icons .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer;
}

.container .product-item .product .icons .icon:hover {
    background-color: #b71c1c;
    color: #fff;
}

.container .product-item .product .icons .icon:nth-last-of-type(3) {
    transition-delay: 0.2s;
}

.container .product-item .product .icons .icon:nth-last-of-type(2) {
    transition-delay: 0.15s;
}

.container .product-item .product .icons .icon:nth-last-of-type(1) {
    transition-delay: 0.1s;
}

.container .product-item:hover .product .icons .icon {
    transform: translateY(-60px);
}

.container .product-item .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem;
}

.container .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

.container .product-item .fa-star {
    font-size: 0.65rem;
    color: goldenrod;
}

.container .product-item .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.container .product-item .price-old {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}


.fw-800 {
    font-weight: 800;
}

.bg-green {
    background-color: #208f20 !important;
    color: #fff;
}
.bg-black{
    background-color: #1f1d1d;
    color: #fff;
}
.bg-red{
    background-color: #bb3535;
    color: #fff;
}

@media (max-width: 767.5px) {

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
        background-color: #b71c1c;
        color: #fff !important;
    }

    .navbar-nav .nav-link {
        border: 3px solid transparent;
        margin: 0.8rem 0;
        display: flex;
        border-radius: 10px;
        justify-content: center;
    }
}

/* FOOTER */
.contactUs{
    margin-top: 50px;
    position: relative;
    width: 100%;
    padding: 40px 100px;
    background-color: #0dcaf0;
}
.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}
.contactUs .title h2{
    color: #000;
    font-family: "Poppins", sans-serif ;

}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form information"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.form{
    grid-area: form;
}

.information{
    grid-area: information;
}


.map{
    grid-area: map;
}

.contact{
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* Scroll Up */
.gotobtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #000;
    bottom: 25px;
    right: 25px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    border-radius: 50%;
}
/* form */
.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"]
{
    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px
}

.inputBox ::placeholder{
    color: #999;
}
/* info */
.information{
    background-color: #0e3959;

}

.information h3{
    color: #fff;
}

.information .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.information .infoBox div span
{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.information .infoBox div p,
.information .infoBox div a{
    color: #fff;
    font-size: 1.1em;
}

.sci{
    display: flex;
    margin-top: 40px;
    
}

.sci li {
    margin-right: 15px;
}

.sci li a {
    color: #ccc;
    font-size: 2em;
}

.sci li a:hover{
    color: #fff;
    font-size: 2em;
}

/* map */
.map{
    padding: 0;
}

.map iframe{
    width: 100%;
    height: 100%;
}

/* responsive footer contact */
@media (max-width:991px) {
    .contactUs{
        padding: 20px;

    }

    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
         "form"
         "information"
         "map"
         ;
    }

    .map{
        min-height: 300px;

    }

    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox{
        width: 100%;
    }

    .contact{
        padding: 30px;
    }
}

/* Trang chá»§ */
.modal-dialog{
    height: 50%;
    width: 50%;
    margin: auto;
}

.text1{
    background-color: #dc3545;
    color: white;
    width: 20%;
    margin-top: 5%;
    text-align: center;
}

.icon2{
 color: #dc3545;
}

.modal-header{
    color: white;
    background-color: #dc3545;

}
.modal-backdrop{
    position: relative;
}

/* Login  */
/* Modal */
